// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "ums9117.dtsi"
#include "ums9117-musb-cold.dtsi"
#include "fplinux-target-identity.dtsi"

/ {
	chosen {
		bootargs = "console=tty0 loglevel=8 ignore_loglevel init=/init panic=-1 rdinit=/init vt.global_cursor_default=1 random.trust_bootloader=on";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x03e00000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		dtb@83e00000 {
			reg = <0x83e00000 0x00010000>;
			no-map;
		};

		framebuffer@83f00000 {
			reg = <0x83f00000 0x00100000>;
			no-map;
		};
	};

	vddusb: regulator-usb33 {
		compatible = "fplinux,sc2720-usb33-regulator";
		regulator-name = "sc2720-usb33";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	charger {
		compatible = "fplinux,ta1618-sc2720-charger";
	};

	fuel-gauge {
		compatible = "fplinux,ta1618-sc2720-fgu";
	};

	rtc {
		compatible = "fplinux,ta1618-sc2720-rtc";
	};

	auxadc {
		compatible = "fplinux,ta1618-sc2720-auxadc";
	};

	soc {
		display@83f00000 {
			compatible = "fplinux,ums9117-st7789p3-spi-fb";
			reg = <0x83f00000 0x00100000>,
			      <0x20800000 0x00001000>,
			      <0x40600000 0x00000400>,
			      <0x40608000 0x00001000>,
			      <0x20a00000 0x00001000>,
			      <0x70b00000 0x00001000>,
			      <0x21500054 0x00000004>,
			      <0x71301004 0x00000004>,
			      <0x71302004 0x00000004>,
			      <0x20e01000 0x00000004>,
			      <0x20e01004 0x00000004>,
			      <0x20e02004 0x00000004>,
			      <0x402a00b0 0x0000001c>,
			      <0x402a04b0 0x0000001c>;
			reg-names = "framebuffer", "lcdc", "adi-controller",
				    "analog-slave", "lcm", "spi", "spi-clock-selector",
				    "spi-reset-set", "spi-reset-clear", "ap-ahb-gate-set",
				    "ap-ahb-reset-set", "ap-ahb-reset-clear", "pinmux",
				    "pinconf";
			interrupts = <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "lcdc-done";
			sprd,aon-apb = <&aon_apb>;
			sprd,pinmux-offsets = <0 4 8 12 16 20 24>;
			sprd,pinmux-values = <0 0 0 0 0 0 0>;
			sprd,pinconf-offsets = <0 4 8 12 16 20 24>;
			sprd,pinconf-values = <
				0x00182001 0x00082046 0x00082001 0x00102004
				0x00082004 0x00102004 0x00082004
			>;
			sprd,wled-current-levels = <10 10 10 10>;
		};

		mmc@20e00000 {
			compatible = "fplinux,ta1618-mmc";
			reg = <0x20e00000 0x4>, <0x20e01000 0x4>, <0x20e02000 0x4>,
			      <0x20e00004 0x4>, <0x20e01004 0x4>, <0x20e02004 0x4>,
			      <0x2150006c 0x4>,
			      <0x20300000 0x4>, <0x20300004 0x4>, <0x20300024 0x4>,
			      <0x20300028 0x4>, <0x2030002c 0x4>, <0x20300008 0x4>,
			      <0x2030000c 0x4>, <0x20300010 0x4>, <0x20300014 0x4>,
			      <0x20300018 0x4>, <0x2030001c 0x4>, <0x20300030 0x4>,
			      <0x20300034 0x4>, <0x20300038 0x4>, <0x20300054 0x4>,
			      <0x20300058 0x4>, <0x2030005c 0x4>, <0x203000fc 0x4>,
			      <0x402a0000 0x4>,
			      <0x402a0128 0x4>, <0x402a0528 0x4>, <0x402a012c 0x4>,
			      <0x402a052c 0x4>, <0x402a0134 0x4>, <0x402a0534 0x4>,
			      <0x402a0120 0x4>, <0x402a0520 0x4>, <0x402a0124 0x4>,
			      <0x402a0524 0x4>, <0x402a0130 0x4>, <0x402a0530 0x4>,
			      /* Shared with the keypad through the hardware ADI user lock. */
			      <0x40600000 0x400>, <0x40608000 0x1000>,
			      <0x2030003c 0x4>,
			      <0x402c0000 0x4>, <0x402c0004 0x4>;
			reg-names = "gate-state", "gate-set", "gate-clear",
				    "ap-reset-state", "ap-reset-set", "ap-reset-clear",
				    "ap-clock-selector", "block-count", "block-size",
				    "present-state", "host-control1",
				    "clock-timeout-reset", "argument",
				    "transfer-command", "response0", "response1",
				    "response2", "response3", "interrupt-status",
				    "interrupt-status-enable", "interrupt-signal-enable",
				    "adma-error", "adma2-address-low",
				    "adma2-address-high", "host-version-slot-int",
				    "pwr-pad-ctl", "cmd-mux", "cmd-pad", "d0-mux",
				    "d0-pad", "clk-mux", "clk-pad", "d3-mux", "d3-pad",
				    "d2-mux", "d2-pad", "d1-mux", "d1-pad",
				    "adi-controller", "analog-slave",
				    "host-control2", "card-detect-data",
				    "card-detect-mask";
			interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
		};

		keypad-backlight@40608df8 {
			compatible = "fplinux,ta1618-kpled";
			reg = <0x40608df8 0x00000004>;
			function = LED_FUNCTION_KBD_BACKLIGHT;
			fplinux,current-code = <1>;
		};

		thermal-sensor@40300000 {
			compatible = "fplinux,ta1618-thm1";
			reg = <0x40300000 0x00000100>,
			      <0x40240000 0x00000058>,
			      <0x40241064 0x00000004>;
			reg-names = "thm", "efuse-control", "efuse-block25";
			sprd,aon-apb = <&aon_apb>;
		};
	};
};

#include "ums9117-ram-session.dtsi"

&keypad {
	compatible = "fplinux,ums9117-keypad";
	status = "okay";
	label = "TA-1618 keypad";
	keypad,num-rows = <5>;
	keypad,num-columns = <4>;
	/* Exact TA-1618 scan map derived from the proven fpdoom keymap.bin. */
	linux,keymap = <
		MATRIX_KEY(0, 0, KEY_KPASTERISK) /* * */
		MATRIX_KEY(0, 1, KEY_0)
		MATRIX_KEY(0, 2, KEY_TAB) /* left soft */
		MATRIX_KEY(0, 3, KEY_KPDOT) /* # */
		MATRIX_KEY(1, 0, KEY_7)
		MATRIX_KEY(1, 1, KEY_3)
		MATRIX_KEY(1, 2, KEY_LEFT)
		MATRIX_KEY(1, 3, KEY_9)
		MATRIX_KEY(2, 0, KEY_1)
		MATRIX_KEY(2, 1, KEY_2)
		MATRIX_KEY(2, 3, KEY_6)
		MATRIX_KEY(3, 0, KEY_ENTER) /* dial */
		MATRIX_KEY(3, 1, KEY_DOWN)
		MATRIX_KEY(3, 2, KEY_ENTER) /* centre */
		MATRIX_KEY(3, 3, KEY_RIGHT)
		MATRIX_KEY(4, 0, KEY_4)
		MATRIX_KEY(4, 1, KEY_5)
		MATRIX_KEY(4, 2, KEY_UP)
		MATRIX_KEY(4, 3, KEY_BACKSPACE) /* right soft */
	>;
	sprd,eic9-keycode = <KEY_8>;
};

&usb {
	dr_mode = "peripheral";
	vddusb-supply = <&vddusb>;
	status = "okay";
};
