# SPDX-License-Identifier: GPL-2.0-only
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="1782", ATTR{idProduct}=="4d00", ENV{MTP_NO_PROBE}="1", TAG+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="0525", ATTR{idProduct}=="a4a6", ENV{MTP_NO_PROBE}="1", TAG+="uaccess"
